@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body{
  font: 100% georgia, sans-serif;
	line-height: 1.2;
	color: #555753;
	margin: 0;
	padding: 0;
}
.background{
  background-color: #328CC1;
  height:auto;
  padding-top: 1px;
  box-shadow: 10px 5px 46px black;
}
.Buttons{
  text-align: center;
}
.homeHeader{
  text-align: center;
  color:white;

}

.aboutHeader{
  text-align: left;
  color:white;
}

.home{
  text-align: center;
  color: white;
  font-size: 25pt;
  font-size: italic;
}

.about{
  color: white;
}
.space{
  margin-top: 100px;
}

img{
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 14%;
  position: absolute;
  z-index: 10;
  top: 115px;
  left: 729px;



}
/*social buttons*/

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 15px;

}
.fa-github:hover {
    background-color: #D9B310;
    font-size: 25px;
    box-shadow: 10px 1px 10px black;


}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 15px;


}
.fa-linkedin:hover {
    background-color: #D9B310;
    font-size: 25px;
    box-shadow: 10px 1px 10px black;


}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

/* NavBar */

.NavBar-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D2731;
  box-shadow: 10px 1px 21px black;

}
.NavBar-li{
  float:left;

}
.NavBar-li .NavBar-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavBar-li .NavBar-a:hover{
  background-color: #111;
  text-decoration: overline underline;
  text-decoration-color: white;


}
