.homeHeader{
  text-align: center;
  color:white;
}
.aboutHeader{
  text-align: left;
  margin-left: 240px;
  color:white;
}

.home{
  text-align: center;
  color:white;
}
.about{

  color:white;
}

img{
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 20%;
}
@media (max-width: 1200px) {
  body {
    font-size: 90%;
  }
}
@media(max-width: 900px) {
  body{
    font-size: 70%;
  }
}




/* NavBar */
.NavBar {
}
.NavBar-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
.NavBar-li{
  float:left;

}
.NavBar-li .NavBar-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavBar-li .NavBar-a:hover{
  background-color: #111;
}
