@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
::-webkit-scrollbar {
  display: none;
}
body{
  font-family: 'helvetica neue';
  font-weight: 100;
	line-height: 1.2;
	color: #ecf0f1;
	margin: 0;
	padding: 0;
}
.background{
  background-color: #ecf0f1;
  height:auto;
  padding-top: 1px;
  box-shadow: 10px 5px 46px black;
}
.Buttons{
  text-align: center;
}
.homeHeader{
  font-family: 'Roboto';
  font-weight: 200;
  text-align: center;
  color:white;
  margin-top: 80px;
  margin-bottom: 50px;
}
.home{
  text-align: center;
  color: white;
  font-size: 25pt;
}
.space{
  margin-top: 100px;
}
img{
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 14%;
  position: absolute;
  z-index: 10;
  top: 115px;
  left: 729px;
}
h1{
  font-family: 'Roboto';
  font-weight: 200;
  text-align: left;
  padding: 0;
  margin: 0;
}
/*Flex Items*/
.sudoHtml {
      box-sizing: border-box;
      background:#ecf0f1;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      position: relative;
      top:50px;
    }
    .sudoBody {
      margin: 0;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    .homeContainer{
      width:70%;
      position: relative;
      left:15%;
      top:20px;
    }

    .panels {
      min-height:80vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .panel {
      background:#6B0F9C;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      color:white;
      text-align: center;
      align-items:center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size:cover;
      background-position:center;
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

    }
    .panel1 {background-color: #D32F2F;}
    .panel2 {background-color: #C62828;}
    .panel3 {background-color: #B71C1C;}
    .panel4 {background-color: #34495e;}
    .panel5 {background-color: #34495e;}

    /* Flex Items */
    .panel > * {
      margin:5px;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .panel > *:first-child { transform: translateX(-100%); }
    .panel.open-active > *:first-child { transform: translateX(0); }
    .panel > *:last-child { transform: translateX(100%); }
    .panel.open-active > *:last-child { transform: translateX(0); }

     .panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }
    .panel .connect{
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }
    .panel p:nth-child(2) {
      font-size: 4em;
    }

    .panel.open {
      flex: 5;
      font-size:40px;
    }

    .cta {
      color:white;
      text-decoration: none;
    }
/*Resume*/
/*.me{
  border: 1px solid red;
  position:relative;
  top:100px;
  color:white;
}
.container{
  border: 1px solid yellow;
}
.header h1{
  text-align: center;
}
.header {
  border: 1px solid green;
  text-align: center;
  font-size: 20px;
}
.education{
  border: 1px solid red;
}
.skills{
  border: 1px solid red;
}
.workExperience{
  border: 1px solid red;
}
.communityService{  
  border: 1px solid red;
}*/



/*About Page*/
.aboutCards{
  background-color: #328CC1;
  width: 74.57627%;
  text-align: left;
  margin-bottom: 40px;
  height: auto;
  display: inline-block;
  box-shadow: 3px 6px 21px black;

}
.cardContainer{
  overflow-y: auto;
  height: 700px;
}
.about{
  color: white;
  font-family: 'Roboto';
  font-weight: 200;
  text-align: center;
  width:50%;
  height:50%;
  margin-left: 25%;
  box-shadow: 3px 6px 21px black;


}
.aboutHeader{
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 200;
  color:white;
}
li{

}
p span{
  display: block;
}

/*social buttons*/

.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
-ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.fa-github:hover {
  background-color: #D9B310;
  font-size: 25px;
  box-shadow: 10px 1px 10px black;
}

.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: 15px;


}
.fa-linkedin:hover {
  background-color: #D9B310;
  font-size: 25px;
  box-shadow: 10px 1px 10px black;


}
a {
  text-decoration: none;
  color: #fff;
}
p > a:hover{
  color: #d9d9d9;
  text-decoration:  underline;
}

/* NavBar */

.NavBar-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ecf0f1;
  box-shadow: 10px 1px 21px black;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}
.NavBar-li{
  float:left;

}
.NavBar-li .NavBar-a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.NavBar-li .NavBar-a:hover{
  background-color: #EF5350;
  text-decoration: overline;
  text-decoration-color: white;
  color: white;
}
/*fonts*/
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: local('Roboto-Black'),
       url(../../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto-BlackItalic'),
       url(../../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 800;
  src: local('Roboto-Bold'),
       url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  src: local('Roboto-BoldItalic'),
       url(../../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto-Italic'),
       url(../../fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto-Light'),
       url(../../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto-LightItalic'),
       url(../../fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: local('Roboto-Medium'),
       url(../../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto-MediumItalic'),
       url(../../fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto-Regular'),
       url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: thin;
  font-weight: 200;
  src: local('Roboto-Thin'),
       url(../../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  src: local('Roboto-ThinItalic'),
       url(../../fonts/Roboto-ThinItalic.ttf);
}
